.App {
    background-color: #282c34;
    color: white;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 40px calc(100vh - 40px);
    grid-template-areas: "Logo Header Header Header" "Menu Content Content .";
}

.Logo {
    grid-area: Logo;
    background-color: #282c34;
    text-align: center;
    line-height: 40px;
}

.Header {
    grid-area: Header;
    background-color: #0c0d13;
    line-height: 40px;
}

.Menu {
    grid-area: Menu;
    background-color: #52555c;
}

.Content {
    grid-area: Content;
    background-color: #f3f3f3;
    color: #0c0d13;
    overflow-y: scroll;
}

